<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384- ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
<link href="/css/jumbotron-narrow.css" rel="stylesheet"> <title>chat</title>
  <link href="/css/headers.css" rel="stylesheet">
  <style>
    .scrollBar {
      width: 200px;
      height: 200px;
      overflow-y: scroll;
    }

    /* 아래의 모든 코드는 영역::코드로 사용 */

    .scrollBar::-webkit-scrollbar {
      width: 10px;  /* 스크롤바의 너비 */
    }

    .scrollBar::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: #217af4; /* 스크롤바의 색상 */

      border-radius: 10px;
    }

    .scrollBar::-webkit-scrollbar-track {
      background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


</head>
<body>

<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/chat" class="nav-link px-2 link-dark">플레이어 관리</a></li>
        <li><a href="/" class="nav-link px-2 link-dark">관리자 승격</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="/myinfo">내 정보</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container" id="te" >
<div class="d-inline-block scrollBar"  id="chatbox"  style="overflow-x:hidden;overflow-y:scroll; height: 500px; width: 70%;">

</div>
  <div id="playerlist" class="d-inline-block scrollBar" style="overflow-y:scroll; height: 500px; width: 29%;">
    <div th:each="player : ${players}"  th:id="${player}+'div'">
      <div th:text="${player}" style="display: inline"></div>
      <button class="btn btn-primary" th:id="${player}" onclick='kickplayer(this.id)'>강퇴</button>
    </div>
  </div>
</div>
<div class="form-inline container" >

<input id="text" type="text"  class="form-control" style="width: 78%; display: inline"
       placeholder="채팅을 입력하세요" >
  <button onclick="send()"  class="btn btn-primary">Submit</button>
  <button th:unless="${isFreeze}" class="btn btn-primary" id="true" onclick="freez(this.id)">얼리기</button>
  <button th:if="${isFreeze}" class="btn btn-primary" id="false" onclick="freez(this.id)">녹이기</button>
</div>
</body>
<script>
  /*<![CDATA[*/
  function freez(freez){
    stompClient.send("/pub/freez", {}, JSON.stringify(freez));
    if(freez === 'true'){
      data = {
        'sender' :'[[${userName}]]',
        'channelId':'test',
        'text': '[[${userName}]]'+'가 채팅을 얼렸습니다.'
      };
      stompClient.send("/pub/hello", {}, JSON.stringify(data));
    }
    else{
      data = {
        'sender' :'[[${userName}]]',
        'channelId':'test',
        'text': '[[${userName}]]'+'가 채팅을 녹였습니다.'
      };
      stompClient.send("/pub/hello", {}, JSON.stringify(data));
    }


  }
  function test(sender){
    var testframe = document.createElement("iframe");
    testframe.id="pop";
    testframe.style.position = "absolute";
    testframe.style.left = "25%";
    testframe.style.top = "25%";
    testframe.style.width = "50%";
    testframe.style.height = "50%";
    testframe.src="/pastchat?sender="+sender;
    document.getElementById("te").appendChild(testframe);
  }
  function pclose(){
    var delpop = document.getElementById("pop");
    delpop.remove();
  }
  /*]]>*/
</script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">

  /*<![CDATA[*/
  var chatbox = document.getElementById("chatbox");
  var playerlist = document.getElementById("playerlist");
  var socket = new SockJS('/ws');
  stompClient = Stomp.over(socket);

  stompClient.connect({}, onConnected, onError);



  function onConnected() {
// Subscribe to the Public Topic
    console.log("성공");
    stompClient.subscribe('/sub/channel/test', function (e) {

      console.log(JSON.parse(e.body).text);
      var ne = document.createElement("div");
      ne.id = JSON.parse(e.body).messageId+"div";
      ne.className="btn-group dropend";
      ne.style="display:block";
      ne.innerHTML = JSON.parse(e.body).sender+" : "+JSON.parse(e.body).text+"" +
              "<button type='\"button\"' class=\"btn btn-primary dropdown-toggle\" data-bs-toggle=\"dropdown\" aria-expanded=\"false\"></button>" +
              "<ul class=\"dropdown-menu\">" +
              "<li><a id='li1' class=\"dropdown-item\" name='"+JSON.parse(e.body).messageId+"' onclick='removemessage(this.name)'>채팅삭제</a></li>" +
              "<li><a id='li2' class=\"dropdown-item\" name='"+JSON.parse(e.body).messageId+"' onclick='kickplayer(this.name.split(\"-\")[0])'>강퇴</a></li>" +
              "<li><a id='li3' class=\"dropdown-item\" name='"+JSON.parse(e.body).messageId+"' onclick='endless(this.name.split(\"-\")[0])'>영구정지</a></li>" +
              "<li><a id='li3' class=\"dropdown-item\" name='"+JSON.parse(e.body).messageId+"' onclick='test(this.name.split(\"-\")[0])'>세부사항</a></li></ul>";

      chatbox.appendChild(ne);
      document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
    });

    stompClient.subscribe('/sub/channel/del', function (e) {
      var a = document.getElementById(JSON.parse(e.body).messageId+"div");
      a.innerHTML="삭제된 채팅입니다.";

    });

    stompClient.subscribe('/sub/channel/playerlist', function (e) {
      console.log(JSON.parse(e.body).text);
      var ne = document.createElement("div");
      ne.id = JSON.parse(e.body).username+"div";
      ne.innerHTML = JSON.parse(e.body).username+"<button class=\"btn btn-primary\" id='"+JSON.parse(e.body).username+"' onclick='kickplayer(this.id)'>강퇴</button>";
      playerlist.appendChild(ne);
    });

    stompClient.subscribe('/sub/channel/kickplayer', function (e) {
      var a = document.getElementById(JSON.parse(e.body).username+"div");
      a.remove();

    });

    stompClient.subscribe('/sub/channel/freez', function (e) {
      var freez = document.getElementById(JSON.parse(e.body));
      freez.id = !(JSON.parse(e.body).toString()==='true');
      if(freez.id === 'true'){
        freez.innerHTML="얼리기";
      }
      else{
        freez.innerHTML="녹이기";
      }
    });

  }
  function onError(error) {
    console.log("error");
  }

  function send(){

    data = {
      'sender' :[[${userName}]],
      'channelId':'test',
      'text': document.getElementById("text").value
    };
    // send(destination,헤더,페이로드)
    stompClient.send("/pub/hello", {}, JSON.stringify(data));
    document.getElementById("text").value="";
  }

  function removemessage(clicked_id){
    data = {
      'messageId' :clicked_id
    };
    stompClient.send("/pub/del", {}, JSON.stringify(data));
  }
  function kickplayer(clicked_id){
    data = {
      'username' :clicked_id
    };
    stompClient.send("/pub/kickplayer", {}, JSON.stringify(data));
  }
  function endless(clicked_id){
    data = {
      'username' : clicked_id
    };
    stompClient.send("/pub/endless", {}, JSON.stringify(data));
  }
  /*]]>*/
</script>

</html>
